"debug/original-generated-or-materialized-sources/artifacts/root14-host-build-tasks/obj/Avalonia.Build.Tasks/debug/Avalonia.Build.Tasks.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/Accounts.Specs/debug_linux-x64/Accounts.Specs.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/Den/debug_linux-x64/Den.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/Dulche.Runtime/debug_linux-x64/Dulche.Runtime.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/HavenOS.Files.CUI/debug_linux-x64/HavenOS.Files.CUI.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/HavenOS.Home.NativeUI/debug_linux-x64/HavenOS.Home.NativeUI.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/HavenOS.Home/debug_linux-x64/HavenOS.Home.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/NineToOne.Accounts.Remote/debug_linux-x64/NineToOne.Accounts.Remote.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/NineToOne.Accounts/debug_linux-x64/NineToOne.Accounts.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/NineToOne.Admin/debug_linux-x64/NineToOne.Admin.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/artifacts/root14-managed-build/obj/OrgPools.Specs/debug_linux-x64/OrgPools.Specs.AssemblyInfo.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilCustomAttribute.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilFunctionPointer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilMetadataImporterProvider.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilMethod.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilProperty.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilType.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilTypeBuilder.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilTypeCache.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/CecilTypeSystem.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX.IL.Cecil/Comparers/MethodReferenceEqualityComparer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Ast/Clr.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Ast/Common.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Ast/CompilerHelpers.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Ast/Intrinsics.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Ast/Xaml.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Diagnostics/TrimmingMessages.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/CheckingIlEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/MarkupExtensionEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/MethodCallEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/NewObjectEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/ObjectInitializationNodeEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/PropertyValueManipulationEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/Emitters/XamlDynamicSetterContainerProvider.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/ILEmitContext.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/ILEmitHelpers.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/RecordingIlEmitter.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/RuntimeContext.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/XamlILEmitterExtensions.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/IL/XamlIlCompiler.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/CommaSeparatedParenthesesTreeParser.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/SystemXamlMarkupExtensionParser/KnownStrings.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/SystemXamlMarkupExtensionParser/MeScanner.Shims.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/SystemXamlMarkupExtensionParser/MeScanner.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/SystemXamlMarkupExtensionParser/SystemXamlMarkupExtensionParser.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Parsers/XDocumentXamlParser.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/AstTransformationContext.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/NamespaceInfoHelper.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/TransformerConfiguration.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/ApplyWhitespaceNormalization.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/ContentConvertTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/ConvertPropertyValuesToAssignmentsTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/DeferredContentTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/MarkupExtensionTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/ObsoleteWarningsTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/ResolvePropertyValueAddersTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/TopDownInitializationTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/TypeReferenceResolver.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/XArgumentsTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/Transformers/XamlIntrinsicsTransformer.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/WhitespaceNormalization.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/XamlContextBase.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/XamlLanguageTypeMappings.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/XamlTransformHelpers.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/Transform/XamlXmlnsMappings.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/TypeSystem/TypeSystem.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/TypeSystem/TypeSystemHelpers.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"debug/original-generated-or-materialized-sources/framework/CUI/vendor/Avalonia/external/XamlX/src/XamlX/TypeSystem/XamlLocalsPool.cs" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
"logs/workloads.log" whitespace=-blank-at-eof,-trailing-space,-space-before-tab
