<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="configured-godot-bundle" value="%ASTRA_GODOT_NUPKG_SOURCE%" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="configured-godot-bundle"><package pattern="Godot.*" /><package pattern="GodotSharp*" /><package pattern="GodotSharp*" /></packageSource>
    <packageSource key="nuget.org"><package pattern="*" /></packageSource>
  </packageSourceMapping>
</configuration>
